# C/C++
*.o
*.d
*.so

# Python
__init__.py
*.py[cod]

# ROOT
*.root

# Stuff
*~
*.log

# crab working directories
Ntupler/crab/mc_2016*
Ntupler/crab/data_2016*

# other
BaconProdScripts

!Utils/data/L1PrefiringMaps_new.root
