# C/C++
*.o
*.d
*.so

# Python
__init__.py
*.py[cod]

# ROOT
*.root

# Stuff
*~
*.log
*.out
docker_stderror
*.tar.gz

# crab working directories
Ntupler/crab/*/

# other directories
BaconProdScripts

# keep ROOT files in data directory
!Utils/data/*.root
